.header1{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    height: 70px;
    border-style: 
    border-width: 1px;
    border-color: gray;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}
.right1{
    
    width: 20px;
    height: 20px;
    border-radius: 20px;
    
    margin-left: 28px;
    
    
}
.place{
    background-color:pink;
    color: white;
}
.middle1{
    display: flex;
    align-items: center;
    color: red;
    font-size: 16px;
    font-family: Roboto;
    margin-left: 70px;
    

}
.left1{
    font-size: 12px;
    font-family: Roboto;
    align-items: center;
    margin-right: 25px;

    
}
.body1{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;

}
.body1 img{
    height: 200px;
    width: 300px;
}